body {
    margin: 0px;
    padding: 0px;
}

.backdrop {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-image: url(loadscreen.jpg);
    background-size: 100% 100%;
}

.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#gradient {
    position: absolute;
    bottom: 0px;
    width: 100%;

    height: 25%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

@font-face {
    font-family: 'signpainter';
    src: url('signpainter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    position: relative;
    background: transparent;
    z-index: 0;
}

/* add a single stroke */
h1:before, h2:before {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.1em #000;
    left: 0;
    z-index: -1;
}

.letni {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 3%;

    z-index: 5;

    color: #fff;

    font-family: "Segoe UI";
}

.letni h2, .letni h3 {
    font-family: signpainter;
    text-transform: None;
    font-size: 25px;
    margin: 0px;
    display: inline-block;
}

.top {
    color: #fff;

    position: absolute;
    top: 7%;
    left: 5%;
    right: 5%;
}

.top h1 {
    font-family: signpainter;
    font-size: 60px;

    margin: 0px;
}

.top h2 {
    font-family: signpainter;
    font-size: 40px;

    margin: 0px;

    color: #ddd;
}

.loadbar {
    width: 100%;
    background-color: rgba(100, 100, 100, .3);
    height: 5px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 5px;
    margin-bottom: 5px;

    overflow: hidden;

    position: relative;

    display: block;
}

.thingy {
    width: 10%;
    background-color: #197bd6;
    height: 5px;

    position: absolute;
    left: 10%;
}

.text {
    display: none;
    color: #FFF;
    font-family: arial;
    background-color: rgba(25, 152, 219, 0.0);
    text-transform: None;
    font-size: 14px;
    margin: 5px;

}